{% extends 'base.html' %}

{% block content %}

    {% for new in news %}
        <div class="news">
            <div class="image" >
                <img src="{{ new.picture.url }}" alt="{{ new.title }}" width="300px">
            </div>
            <h2>{{ new.title }}</h2>
            <p class="content">
                {{ new.content }}
            </p>
            <div class="details">
                <p>{{ new.author }}</p>
                <p>{{ new.date }}</p>
            </div>
            <br>
            <p>------------------------------------</p>
        </div>
    {% endfor %}

{% endblock %}